<div class="container">
	<div class="row">
		<div class="col-sm-12">
		    <div class="login-center">

        <form (ngSubmit)="loginUser(f)" #f="ngForm">
		    <label>User Email</label>
		    <div class="form-group"> 
                <input type="text"
                class="form-control" 
                placeholder="user Id"
                name="userid"
                ngModel
                required
                email> 
            </div> 
		       <label>Password</label>
            <div class="form-group"> 
                <input 
                  type="password" 
                  class="form-control"
                  placeholder="password"
                  name="password"
                  ngModel
                  required> 
            </div> 

            <button class="btn btn-primary" 
            type="submit"
            [disabled]="!f.valid">Submit</button>
          </form>
          </div>
		</div>  
	</div>
</div>